.pcwidget{
  padding:20px 0px;
  background: #000;
  color:#fff;
}

.nameclass{
    padding-top:10px;
    color:red;
}

/* .title {
    font-size: 3rem;
    color:white !important;
    margin:0 !important;
  }
  
  .subtitle {
    font-size: 1rem;
    color:white !important;
    margin:15px 0 25px !important;
    font-weight:normal;
  }
  
  .sliderCta {
    padding: 10px 25px;
    background-color: #4ca74c;
    text-decoration: none;
    color:white;
  }
  
  #myContainer{
    height:100vh;
  }
  
  #slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .singleSlide {
    background-size: cover;
    background-position: center;
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0px;
    opacity: 0;
  }
  
  .slideOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 100px;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-end;
  }
  
  .sliderNav {
      position: absolute !important;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 2;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: transparent;
    text-indent: -9999px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
  }
  
  .sliderNav:hover {
    cursor: pointer;
  }
  
  #sliderPrev {
    transform: rotate(-45deg);
    left:25px;
  }
  
  #sliderNext {
    right:25px;
    transform: rotate(135deg);
  }
  
  #sliderNext img,
  #sliderPrev img {
    width: 32px;
  }
  
  #dots{
      position: absolute;
      bottom: 20px;
      margin: auto;
      left: 0;
      right: 0;
      z-index: 2;
      color: white;
      display: flex;
      justify-content: center;
  }
      .dot{
          margin:12px;
          background-color: white;
          height:12px;
          width:12px;
          border-radius: 10px;
          cursor: pointer;
      }
  
  @-webkit-keyframes slideIn {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  @keyframes slideIn {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  .slideIn {
    -webkit-animation: slideIn 0.3s forwards linear;
    animation: slideIn 0.3s forwards linear;
  }
  
  .slideOut {
    -webkit-animation: slideOut 0.3s forwards linear;
    animation: slideOut 0.3s forwards linear;
  }
  
  @-webkit-keyframes slideOut {
      from { opacity: 1; }
      to   { opacity: 0; }
  }
  
  @keyframes slideOut {
      from { opacity: 1; }
      to   { opacity: 0; }
  } */
  
  
  
  /* PERSONAL CSS */
  /* body, html{
    height:100%;
    width:100%;
    margin:0;
    font-family: 'Montserrat'
  }
  
  #mySlider{
    height:100%;
    position:absolute;
    right:0;
    left:0;
    bottom:0;
    top:0;
    
  } */

  /* .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    background-color: rgba(0,0,0,0);
    opacity: .5;
}

.carousel-control.left {
  background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-repeat: repeat-x;
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-repeat: repeat-x;
} */

/* .carousel {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.controls {
  opacity: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  justify-content: space-between;
  width: 100%;
  z-index: 99999;
  transition: all ease 0.5s;
}

.control {
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: .5;
  transition: ease .3s;
  cursor: pointer;
}

.control:hover{
  opacity:1;
}

.slides {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  transition: 1s ease-in-out all;
}

.slide {
  min-width: 100%;
  min-height: 100%;
  height: auto;
}

.controls:hover{
  opacity: 1;
} */


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
  /* transition: 1s ease-in-out all; */
}

@-webkit-keyframes fade {
  from {opacity: 0.2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.2} 
  to {opacity: 1}
}
